{% extends "::base.html.twig" %}

{% block title %}Создание записи{% endblock %}

{% block body %}
    <h1 class="title-admin">
        Создание записи
    </h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.title ) }}
    <div class="form-group">
        {{ form_row(form.category, { 'attr': {'class': 'browser-default'} } ) }}
    </div>
    <div class="form-group">
        {{ form_row(form.image ) }}
    </div>
    <div class="form-group">
        {{ form_row(form.content , { 'attr': {  'novalidate': 'novalidate'} }) }}
    </div>
    {{ form_rest(form) }}

    <input type="submit" class="btn waves-effect waves-light  btn-large" value="Сохранить"/>
    {#<button type="submit" class="btn waves-effect waves-light  btn-large" >Сохранить</button>#}
    {{ form_end(form) }}
{% endblock %}
